/*font-family: 'Vollkorn', serif;
font-family: 'Open Sans', sans-serif;*/

#week2-container {
  background: url('../images/human-horizon-line.jpeg')  no-repeat center center fixed;
  background-size: cover;
  padding: 100px;
}

.self-love {
  color: #9f6339;
  font-size: 3em;
  text-align: right;
  font-family: 'Vollkorn', serif;
}

/*#can-do-span {
  color: black;
}*/

#no-hate {
  margin: 100px 0 50px 0;
  font-size: 4em;
  letter-spacing: 5px;
  color: #9864e2;
  font-family: 'Open Sans', sans-serif;
}

#steve {
  color: #9f6339;
  font-size: 3em;
  text-align: right;
  padding-bottom: 100px;
}

@media (max-width: 980px) {
  #self-love {
    font-size: 2.5em;
  }
}

@media (max-width: 850px) {
  #self-love {
    font-size: 2em;
  }
}

@media (max-width: 720px) {
  #self-love {
    font-size: 1.7em;
  }
  #week2-container {
    padding: 50px;
}

@media (max-width: 645px) {
  #self-love {
    font-size: 1.5em;
  }
}

@media (max-width: 490px) {
  #self-love {
    font-size: 1em;
  }
}
